@keyframes zoomin {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.15);
    }
}

@keyframes zoomchico {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}