.btn-outline-success {
    border-color: $primary;
    color: $primary;

    &:hover {
        background-color: $primary;
        color: $quinary;
        border-color: $primary;
    }

    &:active {
        background-color: $primary !important;
        color: $quinary !important;
        border-color: $primary !important;
    }
}

.form-control:focus {
    border: 2px solid $primary;
}