.div_corousel {
    width: 100%;

    img {
        width: 100%;
        height: 100%;
        
    }
}
/*MOBILE*/

@media screen and (max-width: 480px) {
    .div_corousel {
        img {
            width: 100%;
        }
    }
}